<form action="/postlist" method="POST">
    <p>Title:</p>
    <input type="text" name="title">
    <p>Content:</p>
    <textarea name="comment" ></textarea><br>
    <button type="submit">Send Message</button>
</form>